.App {
	text-align: center;
	background: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg)
		no-repeat center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	background-size: cover;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding-top: 10px;
	color: white;
}

img {
	height: 100vh;
	width: 100vw;
}

.intro-text {
	height: 50vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.intro-one {
	height: 8vh;
	width: 100vw;
	font-size: 40px;
	font-style: italic;
	font-family: 'Droid Serif';
}

.intro-two {
	height: 5vh;
	width: 100vw;
	font-size: 75px;
	font-weight: 700;
	line0height: 75px;
	margin-bottom: 50px;
}

.intro-button {
	background: #fed136;
	height: 8vh;
	width: 220px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	font-weight: 700;
	margin-top: 50px;
}
